[Desktop Entry]
Type=Application
Name=Tater Tube Player
Comment=Modern television player for Tater Tube Server
Exec=tater-tube-player
Icon=com.taterassistant.TaterTubePlayer
Terminal=false
Categories=AudioVideo;Video;
StartupWMClass=tater-tube-player
